:root{
    --fondo: #02000c;
    --fondoVentana: #141220;
    --fondoElemento: #323044;
    --letra: white;
    --principal: #0526B9;
    --borderRadius: 15px
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#root{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo);
    color: var(--letra);
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    overflow: hidden;
    padding: 50px;
}

#usuarios{
    display: grid;
    width: 400px;
    grid-template-columns: 300px 100px;
    border: 1px solid white;
}

#registros{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--fondoVentana);
    align-items: center;
    padding: 10px;
    border-radius: var(--borderRadius);
    height: 370px;
    
}

.css-1fr578y-MuiTabs-scroller{ /* Modifica el ancho del contenedor de tabs*/
    width: 450px;
}

#registro__mensajeVacio{
    display: flex;
    height: 100%;
    width: 100%;
    color: gray;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

#registro__tablaCustom{
    /*--Paper-shadow: 0px 2px 1px -1pxrgba(0,0,0,0.2),0px 1px 1px 0pxrgba(0,0,0,0.14),0px 1px 3px 0pxrgba(0,0,0,0.12); */
    /* --Paper-overlay: linear-gradient(rgba(255, 255, 255, 0.051), rgba(255, 255, 255, 0.051)); */
    background-color: var(--fondoVentana);
}

#control{
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#control__agregarEmpleado{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color: var(--fondoVentana);
    cursor: pointer;
    border-radius: 300px;
    color: gray;
    margin: 50px;
    font-size: 30px;
}

.controlEmpleados{
    display: flex;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    font-size: 20px;
    border-radius: var(--borderRadius);
    margin: 10px;
    background-color: var(--fondoVentana);
    padding: 10px;
}

.controlEmpleados__nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 100%;
}

.controlEmpleados__boton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 17px;
    width: 50%;
}

.controlEmpleados__boton *{
    width: 70%;
}

.controlEmpleados__opciones{
    display: flex;
    height: 30px;
    justify-self: end;
    justify-content: center;
    align-items: center;
}

.controlEmpleados__opciones__boton{
    display: flex;
    height: 30px;
    width: 30px;
    background: var(--fondoElemento);
    border-radius: 1000px;
    justify-self: end;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    margin-left: 10px;
}   

.controlEmpleados__icon{
    height: 15px;
    width: 15px;
    color: gray;
}

.controlEmpleados__hora{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--fondoElemento);
    border-radius: 30px;
    margin-top: 15px;
}

.controlEmpleados__modal{
    display: flex;
    position: fixed;
    z-index: 1300;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.controlEmpleados__estadisticas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid var(--fondoElemento);
    border-radius: 5px;
}

.controlEmpleados__estadisticas__puntosPuntualidad{
    display: flex;
    align-items: flex-end;
}

.controlEmpleados__estadisticas__puntosPuntualidad > :last-child{
    font-size: 15px;
    color: gray;
    padding-bottom: 1px;
}

#controlEmpleados__ventanaConfiguracion{
    display: flex;
    flex-direction: column;
    background-color: var(--fondoVentana);
    color: white;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

#controlEmpleados__ventanaConfiguracion > :last-child { /* Boton de cancelar */
    margin-top: 10px;
}

#controlEmpleados__ventanaConfiguracion__eliminar{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer
}

#controlEmpleados__ventanaConfiguracion__eliminar *{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 1000px;
}

#controlEmpleados__ventanaConfiguracion__turnos{
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controlEmpleados__ventanaConfiguracion__turno{
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.controlEmpleados__ventanaConfiguracion__turno > :nth-child(2){
    padding-right: 10px;
    padding-left: 10px;
}

#controlEmpleados__ventanaConfiguracion__agregarTurno, .controlEmpleados__ventanaConfiguracion__turno__borrar{
    font-size: 20px;
    background-color: var(--fondoElemento);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    border-radius: 1000px;
    justify-content: center;
    cursor: pointer;
    margin: 10px
}

.registro{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    width: 500px;
}

.registro__nombre{
    width: 100px;
    padding-left: 20px;
}
.registro__tipo{
    width: 100px;
}
.registro__fecha{
    width: 200px;
}

